*{
    box-sizing: border-box;
}
.logo-img{
    margin-left: 30px;
    margin-right: 15px;
}
.logo-img>img{
    width: 80px;
    height: auto;
}

/* Footer */
.footer-container{
    background-color: black;
    color: white;
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    justify-content: space-around;
}
.link-footer>li{
    list-style-type: none;
}
.link-footer>li>a{
    text-decoration: none;
    color: white;
}
.link-footer{
    margin-right: 600px;
}
.logo-footer{
    margin-top: 20px;
}
.logo-footer>img{
    width: 110px;
    height: auto;
}
.media-social{
    margin-bottom: 30px;
}
.media-social>h5{
    margin-left: 15px;
    margin-bottom: 15px;
}
.logo-media-social>img{
    width: 50px;
    height: auto;
    margin-right: 20px;
}
.copyright-text{
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 8px;
    font-size: 15px;
}
/* HEADER */
.header-container{
    background-color: black !important;
    padding-left: 30px;
    padding-right: 100px;
    height: 80px;
}
.navbar-links>ul>li{
    margin-left: 50px;
}
.btn-login{
    background-color: #FF45B5 !important;
    width: 130px;
    height: 35px;
    border-radius: 7px;
    color: white;
}
.profile-logo-header{
    margin-top: 21px;
    display: flex;
    color: white;
}
.image-profile{
    margin-right: 10px;
}
.image-profile>img{
    width: 30px;
    height: auto;
}
.user-name{
    margin-top: 3px;
}
.link-navbar{
    text-decoration: none;
}
.notification-logo{
    margin-top: 5px;
    margin-right: 10px;
}
/* HOMEPAGE */
.custom-size-carousel{
    padding: 70px;
}
.category-box{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
}
.category-bar{
    background-color: black;
    height: 70px;
    font-size: 16px;
    margin-bottom: 40px;
}
.category-sentence{
    justify-content: space-around;
}
.custom-color-active{
    background-color: #FF45B5 !important;
}
.category-sentence>li>a{
    color: white !important;
}
    /* Calendar */
.calendar {
    margin-bottom: 20px;
    display:inline-grid;
    justify-content:center;
    align-items:center;
    background:#ffffff;
    padding:20px;
    border-radius:7px;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
}
.calendar .month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 300;
}
.calendar .month .year {
    font-weight: 600;
    margin-left: 10px;
}
.calendar .month .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FF45B5;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    transition-duration: 0.2s;
    position: relative;
}
.calendar .month .nav:hover {
    background: #eee;
}
.calendar .days {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
    color: #999;
    font-weight: 600;
    margin-bottom: 15px;
}
.calendar .days span {
    width: 50px;
    justify-self: center;
    align-self: center;
    text-align: center;
}
.calendar .dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar .dates button {
    cursor: pointer;
    outline: 0;
    border: 0;
    background: transparent;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    justify-self: center;
    align-self: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 2px;
    transition-duration: 0.2s;
}
.calendar .dates button.today {
    box-shadow: inset 0px 0px 0px 2px #FF45B5;
}
.calendar .dates button:first-child {
    grid-column: 3;
}
.calendar .dates button:hover {
     background: #eee;
}
.calendar .dates button:focus {
    background: #FF45B5;
    color: #fff;
    font-weight: 600;
}
    /* GRID */
.custom-col1{
    margin-left: -63px;
}
.custom-col2{
    /* background-color: antiquewhite; */
    margin-left: 120px;
    width: max-content;
    margin-right: 0px;
}
.custom-col3{
    margin-top: 10px;
    margin-left: -65px;
}

    /* SEARCH BAR */
.main {
    width: 900px;
    margin-bottom: 30px;
  }
.has-search .form-control {
    padding-left: 40px;
}
.has-search .form-control-feedback {
    position: relative;
    z-index: 2;
    width: 38px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    pointer-events: none;
    color: #000000;
}
.search-logo{
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
}
    /* FILTER BOX */
.filter-box{
    background-color: white;
    border-radius:7px;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
    padding: 35px;
    width: 420px;
    margin-bottom: 20px;
    color: black !important;
}
.filter-content>h3{
    margin-bottom: 20px;
}
        /* PRICE RANGE */
        .price-range{
            margin-bottom: 20px;
        }
        .slider-box {
            width: 30%;
            margin: 25px auto;
        }

        label,
        input {
            border: none;
            display: inline-block;
            vertical-align: top;
            width: 30%;
        }

        input {
            width: 70%;
        }

        .slider {
            margin: 25px 0;
            height: 14px;
            border: 0;
            background: #66c5c8;
            border-radius: 14px;
        }
        .ui-slider-horizontal .ui-slider-handle {
            width: 34px;
            height: 34px;
            left: -17px;
            top: -10px;
            -webkit-border-radius: 34px;
            border-radius: 34px;
            background: #000000 !important;
            cursor: default;
            -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
            cursor: col-resize;
        }
        .ui-slider-horizontal .ui-slider-range {
            background: #000000;
            border-radius: 14px;
        }

        span.ui-slider-handle.ui-state-default.ui-corner-all:before,
        span.ui-slider-handle.ui-state-default.ui-corner-all:after {
            content: "";
            display: block;
            position: absolute;
            height: 12px;
            width: 1px;
            background: #000000;
            left: 15px;
            top: 11px;
        }
        span.ui-slider-handle.ui-state-default.ui-corner-all:after {
            left: 18px;
        }

          /* LOCATION */
        .radio-btn-custom{
            margin-top: 10px;
        }
        .type-filter>h5{
            margin-top: 20px;
        }
.btn-custom{
    margin-top: 30px;
    background-color: #FF45B5 !important;
    width: 200px;
    height: 40px;
    border-radius: 7px;
    color: white;
    margin-left: 65px;
}

/* ALL CONCERT */
.cards{
    margin-bottom: 20px !important;
    width: 900px !important;
    height: 240px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}
.image-cards{
    margin-top: 20px;
}
.image-cards>img{
    padding: 20px;
    border-radius: 30px !important;
    width: 300px !important;
    height: auto !important;
}
.cards-content{
    padding-top: 25px;
    margin-top: 20px;
    width: 410px;
}
.cards-content>p{
    font-size: 12px;
    width: 370px;
    text-align: justify;
}
.information-concert{
    background-color: #000000;
    width: 150px;
    height: 130px;
    color: white;
    margin-left: 710px;
    margin-top: 45px;
    border-radius: 7px;
    padding: 15px;
}
.info-content{
    display: flex;
}
.info-content>h2{
    font-size: 35px;
}
.info-content>p{
    margin-top: 4px;
    margin-left: 5px;
    font-size: 12px;
}
.location>p{
    margin-top: -10px;
    font-size: 13px;
}
.btn-book{
    margin-left: 400px !important;
    margin-top: 40px;
}
.btn-booked{
    margin-top: 175px;
    background-color: #FF45B5 !important;
    width: 200px;
    height: 40px;
    border-radius: 7px;
    color: white;
    margin-left: 310px;
}

/* BOOKING-PAGE */
.btn-booked2{
    background-color: #FF45B5 !important;
    width: 200px;
    height: 40px;
    border-radius: 7px;
    color: white;
}
.content-book{
    padding: 40px;
    margin-left: 30px;
}
.poster>img{
    width: 700px;
    height: auto;
    border-radius: 10px;
}
.description-concert{
    margin-top: 220px;
    width: 700px;
    margin-left: -310px;
    text-align: justify;
}
.information-content{
    justify-content: space-between;
    margin-right: 250px;
}
.price-list-content{
    margin-top: 20px;
    display: flex;
}
.price-list-text>p{
    width: 190px;
    background-color: wheat;
    font-family: 50px;
}
.seatplan-img>img{
    width: 550px;
    height: auto;
    border-radius: 7px;
    margin-left: 680px;
}

/* BOOKING DETAIL */
.terms>li{
    color: grey !important;
    margin-bottom: 10px;
    text-align: justify;
}
